.dashboard-container1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2vh;
    flex: 1 0 0;
    align-self: stretch;
}

.statCards {
    display: flex;
    height: 16.83vh;       
    align-items: center;
    gap: 0.78vw;           
    align-self: stretch;
}

.appointment{
    width: 57.8vw; /* 740px / 1280px * 100vw */
    height: 72.4vh; /* 602px / 832px * 100vh */
}