.statistics-card {
  display: flex;
  width: 18.75vw;                   
  height: 100%;                  
  gap: 3.91vw;                      
  padding: 2.4vh 1.72vw 1.68vh 1.72vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0.94vw;            
  border: 1px solid #E3E3E3;
  background: #FFF;
}

.card-top{
  display: flex;
  align-items: flex-start;
  gap: 0.78vw;
  align-self: stretch;
}

.card-content{
  display: flex;
  width: 11.17vw;
  flex-direction: column;
  align-items: flex-start;
}

.card-value{
  align-self: stretch;
  color: var(--Black-700, #393939);
  font-family: "Instrument Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-description{
  align-self: stretch;
  color: var(--Black-400, #8E8E8E);
  font-family: "Instrument Sans";
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-stat{
  display: flex;
  align-items: center;
  gap: 0.86vw;
}

.card-percentage.increase .arrow,
.card-percentage.decrease .arrow {
  width: 0px;
  font-size: 0.9375rem;                
  line-height: 1;
  margin-right: 0.31vw;             
  stroke-width: 1.2px;
}

.card-percentage.increase .arrow {
  color: var(--Green-700, #35B81B);
}

.card-percentage.decrease .arrow {
  color: var(--Red-700, #B81B1B);
}

.card-percentage{
  color: var(--Black-500, #717171);
  font-family: "Instrument Sans";
  font-size: 1.02vw;
  font-style: normal;
  line-height: normal;
}

.percentage{
  color: var(--Black-500, #717171);
  font-family: "Instrument Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.percentage-text{
  color: var(--Black-500, #717171);
  font-family: "Instrument Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

